/* ::::: https://www.monero.how/cdn-cgi/styles/cf.errors.css ::::: */

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url('opensans-300.eot') format("embedded-opentype"), url('opensans-300.woff') format("woff"), url('opensans-300.ttf') format("truetype"), url('opensans-300.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url('opensans-400.eot') format("embedded-opentype"), url('opensans-400.woff') format("woff"), url('opensans-400.ttf') format("truetype"), url('opensans-400.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url('opensans-600.eot') format("embedded-opentype"), url('opensans-600.woff') format("woff"), url('opensans-600.ttf') format("truetype"), url('opensans-600.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url('opensans-700.eot') format("embedded-opentype"), url('opensans-700.woff') format("woff"), url('opensans-700.ttf') format("truetype"), url('opensans-700.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url('opensans-300i.eot') format("embedded-opentype"), url('opensans-300i.woff') format("woff"), url('opensans-300i.ttf') format("truetype"), url('opensans-300i.svg') format("svg");
}
@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url('opensans-400i.eot') format("embedded-opentype"), url('opensans-400i.woff') format("woff"), url('opensans-400i.ttf') format("truetype"), url('opensans-400i.svg') format("svg");
}
#cf-wrapper a, #cf-wrapper abbr, #cf-wrapper article, #cf-wrapper aside, #cf-wrapper b, #cf-wrapper big, #cf-wrapper blockquote, #cf-wrapper body, #cf-wrapper canvas, #cf-wrapper caption, #cf-wrapper center, #cf-wrapper cite, #cf-wrapper code, #cf-wrapper dd, #cf-wrapper del, #cf-wrapper details, #cf-wrapper dfn, #cf-wrapper div, #cf-wrapper dl, #cf-wrapper dt, #cf-wrapper em, #cf-wrapper embed, #cf-wrapper fieldset, #cf-wrapper figcaption, #cf-wrapper figure, #cf-wrapper footer, #cf-wrapper form, #cf-wrapper h1, #cf-wrapper h2, #cf-wrapper h3, #cf-wrapper h4, #cf-wrapper h5, #cf-wrapper h6, #cf-wrapper header, #cf-wrapper hgroup, #cf-wrapper html, #cf-wrapper i, #cf-wrapper iframe, #cf-wrapper img, #cf-wrapper label, #cf-wrapper legend, #cf-wrapper li, #cf-wrapper mark, #cf-wrapper menu, #cf-wrapper nav, #cf-wrapper object, #cf-wrapper ol, #cf-wrapper output, #cf-wrapper p, #cf-wrapper pre, #cf-wrapper s, #cf-wrapper samp, #cf-wrapper section, #cf-wrapper small, #cf-wrapper span, #cf-wrapper strike, #cf-wrapper strong, #cf-wrapper sub, #cf-wrapper summary, #cf-wrapper sup, #cf-wrapper table, #cf-wrapper tbody, #cf-wrapper td, #cf-wrapper tfoot, #cf-wrapper th, #cf-wrapper thead, #cf-wrapper tr, #cf-wrapper tt, #cf-wrapper u, #cf-wrapper ul { margin: 0px; padding: 0px; border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; text-decoration: none; vertical-align: baseline; }
#cf-wrapper .cf-columns::after, #cf-wrapper .cf-columns::before, #cf-wrapper .cf-section::after, #cf-wrapper .cf-section::before, #cf-wrapper .cf-wrapper::after, #cf-wrapper .cf-wrapper::before, #cf-wrapper .clearfix::after, #cf-wrapper .clearfix::before, #cf-wrapper section::after, #cf-wrapper section::before { content: " "; display: table; }
#cf-wrapper .cf-columns::after, #cf-wrapper .cf-section::after, #cf-wrapper .cf-wrapper::after, #cf-wrapper .clearfix::after, #cf-wrapper section::after { clear: both; }
#cf-wrapper { display: block; margin: 0px; padding: 0px; position: relative; text-align: left; width: 100%; z-index: 999999999; color: rgb(64, 64, 64) ! important; font-family: "Open Sans",Helvetica,Arial,sans-serif ! important; font-size: 15px ! important; line-height: 1.5 ! important; text-decoration: none ! important; letter-spacing: normal; }
#cf-wrapper .cf-section, #cf-wrapper section { background: transparent none repeat scroll 0px 0px; display: block; margin-bottom: 2em; margin-top: 2em; }
#cf-wrapper .cf-wrapper { margin-left: auto; margin-right: auto; width: 90%; }
#cf-wrapper .cf-columns { display: block; list-style: outside none none; padding: 0px; width: 100%; }
#cf-wrapper .cf-columns > .cf-column { float: left; padding-bottom: 45px; width: 100%; box-sizing: border-box; }
@media screen and (min-width: 49.2em) {
	#cf-wrapper .cf-columns.cols-2 > .cf-column:nth-child(n+3), #cf-wrapper .cf-columns.cols-3 > .cf-column:nth-child(n+4), #cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(n+3), #cf-wrapper .cf-columns.four > .cf-column:nth-child(n+3), #cf-wrapper .cf-columns.three > .cf-column:nth-child(n+4), #cf-wrapper .cf-columns.two > .cf-column:nth-child(n+3) { padding-top: 67.5px; }
	#cf-wrapper .cf-columns > .cf-column { padding-bottom: 0px; }
	#cf-wrapper .cf-columns.cols-2 > .cf-column, #cf-wrapper .cf-columns.cols-4 > .cf-column, #cf-wrapper .cf-columns.four > .cf-column, #cf-wrapper .cf-columns.two > .cf-column { padding-left: 0px; padding-right: 22.5px; width: 50%; }
	#cf-wrapper .cf-columns.cols-2 > .cf-column:nth-child(2n), #cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(2n), #cf-wrapper .cf-columns.four > .cf-column:nth-child(2n), #cf-wrapper .cf-columns.two > .cf-column:nth-child(2n) { padding-left: 22.5px; padding-right: 0px; }
	#cf-wrapper .cf-columns.cols-2 > .cf-column:nth-child(2n+1), #cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(2n+1), #cf-wrapper .cf-columns.four > .cf-column:nth-child(2n+1), #cf-wrapper .cf-columns.two > .cf-column:nth-child(2n+1) { clear: left; }
	#cf-wrapper .cf-columns.cols-3 > .cf-column:first-child, #cf-wrapper .cf-columns.cols-3 > .cf-column:nth-child(3n+1), #cf-wrapper .cf-columns.three > .cf-column:first-child, #cf-wrapper .cf-columns.three > .cf-column:nth-child(3n+1) { clear: left; padding-left: 0px; padding-right: 30px; }
	#cf-wrapper .cf-columns.cols-3 > .cf-column:nth-child(3n+2), #cf-wrapper .cf-columns.three > .cf-column:nth-child(3n+2) { padding-left: 15px; padding-right: 15px; }
	#cf-wrapper .cf-columns.cols-3 > .cf-column:nth-child(-n+3), #cf-wrapper .cf-columns.three > .cf-column:nth-child(-n+3) { padding-top: 0px; }
}
@media screen and (min-width: 66em) {
	#cf-wrapper .cf-columns > .cf-column { padding-bottom: 0px; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(2n+1), #cf-wrapper .cf-columns.four > .cf-column:nth-child(2n+1) { clear: none; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:first-child, #cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(4n+1), #cf-wrapper .cf-columns.four > .cf-column:first-child, #cf-wrapper .cf-columns.four > .cf-column:nth-child(4n+1) { clear: left; padding-left: 0px; padding-right: 33.75px; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(4n+2), #cf-wrapper .cf-columns.four > .cf-column:nth-child(4n+2) { padding-left: 11.25px; padding-right: 22.5px; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(4n+3), #cf-wrapper .cf-columns.four > .cf-column:nth-child(4n+3) { padding-left: 22.5px; padding-right: 11.25px; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(n+5), #cf-wrapper .cf-columns.four > .cf-column:nth-child(n+5) { padding-top: 67.5px; }
	#cf-wrapper .cf-columns.cols-4 > .cf-column:nth-child(-n+4), #cf-wrapper .cf-columns.four > .cf-column:nth-child(-n+4) { padding-top: 0px; }
}
#cf-wrapper a { background: transparent none repeat scroll 0px 0px; border: 0px none; color: rgb(47, 123, 191); outline: 0px none; text-decoration: none; transition: all 0.15s ease 0s; }
#cf-wrapper a:hover { background: transparent none repeat scroll 0px 0px; border: 0px none; color: rgb(246, 139, 31); }
#cf-wrapper a:focus { background: transparent none repeat scroll 0px 0px; border: 0px none; color: rgb(98, 161, 216); outline: 0px none; }
#cf-wrapper a:active { background: transparent none repeat scroll 0px 0px; border: 0px none; color: rgb(193, 101, 8); outline: 0px none; }
#cf-wrapper h1, #cf-wrapper h2, #cf-wrapper h3, #cf-wrapper h4, #cf-wrapper h5, #cf-wrapper h6, #cf-wrapper p { color: rgb(64, 64, 64); margin: 0px; padding: 0px; }
#cf-wrapper h1, #cf-wrapper h2, #cf-wrapper h3 { font-weight: 400; }
#cf-wrapper h4, #cf-wrapper h5, #cf-wrapper h6, #cf-wrapper strong { font-weight: 600; }
#cf-wrapper h1 { font-size: 36px; line-height: 1.2; }
#cf-wrapper h2 { font-size: 30px; line-height: 1.3; }
#cf-wrapper ol, #cf-wrapper ul { list-style: outside none none; margin-left: 3em; }
#cf-wrapper ul { list-style-type: disc; }
#cf-wrapper .cf-subheadline { color: rgb(153, 153, 153); font-weight: 300; }
#cf-wrapper ol + h2, #cf-wrapper ol + h3, #cf-wrapper ol + h4, #cf-wrapper ol + h5, #cf-wrapper ol + h6, #cf-wrapper ol + p, #cf-wrapper p + dl, #cf-wrapper p + ol, #cf-wrapper p + p, #cf-wrapper p + table, #cf-wrapper p + ul, #cf-wrapper ul + h2, #cf-wrapper ul + h3, #cf-wrapper ul + h4, #cf-wrapper ul + h5, #cf-wrapper ul + h6, #cf-wrapper ul + p { margin-top: 1.5em; }
#cf-wrapper h1 + h2, #cf-wrapper h1 + h3, #cf-wrapper h2 + h3, #cf-wrapper h3 + h4, #cf-wrapper h4 + h5 { margin-top: 0.25em; }
#cf-wrapper .cf-btn::-moz-focus-inner { padding: 0px; border: 0px none; }
#cf-wrapper .cf-alert { background-color: rgb(249, 177, 105); border: 1px solid rgb(144, 75, 6); color: rgb(64, 64, 64); font-size: 13px; padding: 7.5px 15px; position: relative; vertical-align: middle; border-radius: 2px; }
#cf-wrapper .cf-alert:empty { display: none; }
#cf-wrapper .cf-alert-danger, #cf-wrapper .cf-alert-error { background-color: rgb(222, 80, 82); border-color: rgb(82, 16, 16); color: rgb(255, 255, 255); }
#cf-wrapper #cf-error-banner .cf-close::before { content: "×"; left: 0px; height: 100%; position: absolute; text-align: center; text-indent: 0px; top: 0px; width: 100%; }
#cf-wrapper #cf-error-details { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#cf-wrapper #cf-error-details .cf-error-overview { padding: 25px 0px 0px; }
#cf-wrapper #cf-error-details .cf-error-overview h1, #cf-wrapper #cf-error-details .cf-error-overview h2 { font-weight: 300; }
#cf-wrapper #cf-error-details .cf-error-overview h2 { margin-top: 0px; }
#cf-wrapper #cf-error-details .cf-status-item.cf-error-source::after { bottom: -60px; content: ""; display: none; border-bottom: 18px solid rgb(255, 255, 255); border-left: 20px solid transparent; border-right: 20px solid transparent; height: 0px; left: 50%; margin-left: -9px; position: absolute; right: 50%; width: 0px; }
#cf-wrapper #cf-error-details .cf-status-item + .cf-status-item::before { background: transparent url('error_icons.png') no-repeat scroll 0px -734px; content: ""; display: block; left: 0px; position: absolute; top: 25.67px; }
#cf-wrapper #cf-error-details .cf-error-footer { padding: 1.33333em 0px; border-top: 1px solid rgb(235, 235, 235); text-align: center; }
#cf-wrapper #cf-error-details .cf-error-footer p { font-size: 13px; }
#cf-wrapper #cf-error-details .cf-footer-item { display: block; margin-bottom: 5px; text-align: left; }
#cf-wrapper #cf-error-details .cf-footer-separator { display: none; }
#cf-wrapper #cf-error-details .cf-captcha-container .cf-screenshot-container, #cf-wrapper #cf-error-details .cf-captcha-container .cf-screenshot-container img, #recaptcha-widget .cf-alert, #recaptcha-widget .recaptcha_only_if_audio, .cf-cookie-error { display: none; }
@media screen and (min-width: 49.2em) {
	#cf-wrapper #cf-error-details .cf-status-desc:empty, #cf-wrapper #cf-error-details .cf-status-item .cf-icon, #cf-wrapper #cf-error-details .cf-status-item.cf-error-source::after, #cf-wrapper #cf-error-details .cf-status-label, #cf-wrapper #cf-error-details .cf-status-name { display: block; }
	#cf-wrapper .cf-wrapper { width: 708px; }
	#cf-wrapper #cf-error-details h1 { font-size: 4em; }
	#cf-wrapper #cf-error-details .cf-error-overview { padding-top: 2.33333em; }
	#cf-wrapper #cf-error-details .cf-status-item + .cf-status-item::before { background-position: 0px -544px; height: 24.75px; margin-left: -37.5px; width: 75px; background-size: 131.25px auto; }
	#cf-wrapper #cf-error-details .cf-error-footer { padding: 2.66667em 0px; }
	#cf-wrapper #cf-error-details .cf-footer-item, #cf-wrapper #cf-error-details .cf-footer-separator { display: inline-block; vertical-align: baseline; }
	#cf-wrapper #cf-error-details .cf-footer-separator { padding: 0px 0.25em; }
	#cf-wrapper #cf-error-details .cf-status-item.cloudflare-status::before { margin-left: -50px; }
	#cf-wrapper #cf-error-details .cf-status-item.cloudflare-status + .status-item::before { margin-left: -25px; }
}
@media screen and (min-width: 66em) {
	#cf-wrapper .cf-wrapper { width: 960px; }
	#cf-wrapper #cf-error-details .cf-status-item + .cf-status-item::before { background-position: 0px -734px; height: 33px; margin-left: -50px; width: 100px; background-size: auto auto; }
	#cf-wrapper #cf-error-details .cf-status-item.cf-cloudflare-status::before { margin-left: -66.67px; }
	#cf-wrapper #cf-error-details .cf-status-item.cf-cloudflare-status + .cf-status-item::before { margin-left: -37.5px; }
}
body { margin: 0px; padding: 0px; }
